body {
    background-image: url(slike/Background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.activity-card {
    max-width: 400px;
    margin: 250px auto;
}

.form-group {
    margin-top: 10px;
}

/* Dodatni CSS za stilizaciju checkboxova */
.custom-checkbox {
    margin-bottom: 10px;
}

/* Dodatni CSS za stilizaciju progres bara */
.progress-bar {
    transition: width 0.3s;
}

/* Dodatni CSS za stilizaciju checkboxova */
#activityOption1,
#activityOption2,
#activityOption3,
#activityOption4 {
    display: none; /* Sakrij stvarne checkboxove */
}


.custom-checkbox {
    margin-bottom: 10px;
}

/* Stilizacija checkboxova kao dugmadi */
.custom-checkbox label {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 80%; /* Postavljamo širinu checkbox dugmadi na 80% od širine kartice */
    box-sizing: border-box; /* Ovaj stil osigurava da padding ne utiče na ukupnu širinu */
    text-align: center; /* Centriraj tekst unutar dugmeta */
}

.custom-checkbox label:hover {
    background-color: #0066EE;
}

.custom-checkbox input:checked + label {
    background-color: #0066EE;
    color: white;
}

.button1{
    color: black;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px; 
    padding-right: 30px;
}
