
body {
    min-height: 100vh;
    background-image: url(slike/Background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.navbar {
    background-color: transparent !important;
    padding: 10px;
}

.navbar-brand img {
    max-height: 40px;
    margin-right: 20px; /* Smanjenje margine */
}

.nav-link {
    font-size: large;
    margin-left: 20px;
}



