body {
    min-height: 100vh;
    background-image: url(slike/Background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.routine-card {
    max-width: 600px;
    margin: 250px auto;
    margin-top: 20px;
}

.navbar {
    background-color: transparent !important;
    padding: 10px;
}

.navbar-brand img {
    max-height: 40px;
    margin-right: 600px;
}

.nav-link {
    font-size: large;
    margin-left: 20px;
}

.button1 {
    color: black;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
}

.button2 {
    color: black;
    background-color: white;
    border-radius: 10px;
    margin-top: 3px;
    padding: 10px;
    
}

.exercise-item {
    font-size: 18px;
    margin-bottom: 20px;
}

.exercise-details {
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
}


.description-text {
    width: calc(100% - 20px); 
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.set-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.set-counter {
    margin-right: 10px;
}
